.error {
  text-align: center;
  color: red;
}

.order-title{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FF710D;
}

.order-detail ul {
  border: none;
}

.all-products {
  margin: 0 ;
  padding: 0;
}

ul {
  list-style: none;
  border:none;
  justify-content: space-between;
  /*margin-left: 3rem;*/
}

.total {
  text-align: center;
font-weight: bold;
font-size: 1rem;
padding: 1rem 
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ffa900;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #FF710D;
    border-color: #FF710D;
    color: white;
  }
  
  .actions .button--alt {
    color:  #FF710D;
  }
  
  .actions .button {
    background-color: #ffa900;
    color: white;
  }