.order-item {
    align-items: baseline;
  }
  
  .price {
    color: #E83F00;
  }
  
  .image{
    width: 20%;
    border-radius: 10px;
  }
  
  .amount {
    margin-left: 3rem;
    /*padding: 0.25rem 0.75rem;*/
  }
  