.summary {
  text-align: center;
  max-width: 100%;
  width: 100%;
  /*margin: auto;*/
  margin-top: 8rem;
  margin-bottom: 0;
  position: relative;
  color:  #FD8900;
  /*margin-top: 1rem;*/
  }
  
  .summary h2 {
    font-size: 2rem;
    margin: auto;
  }