.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    /*display: inline-flex;*/
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ffa900;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #FF710D;
    border-color: #FF710D;
    color: white;
  }
  
  .actions .button--alt {
    color:  #FF710D;
  }
  
  .actions .button {
    background-color: #ffa900;
    color: white;
  }

  .input{
    display: flex;
    border: 2px solid #8a2b06;
    padding: 0.5rem;
    border-radius: 25px;
    width: 300px;
  }
	
