.form {
    text-align: right;
  }
  
  .form button {
    width: 8rem;
    font: inherit;
    cursor: pointer;
    background-color: #FD8900;
    border: 1px solid #FD8900;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #FD6A00;
    border-color: #FD6A00;
  }